            body {
                font-family: Verdana, Arial, 'Microsoft YaHei', 'Microsoft JhengHei';
                font-size: 15px;
                color: black;
                margin: auto;
                padding: 0 5px;
                background-color: #535353;
            }
            
            div,
            .pagebody div img,
            table,
            td,
            p {
                margin: 0;
                padding: 0;
                border: none;
                border-spacing: 0;
                text-align: center;
            }
            
            b {
                font-weight: bold;
            }
            /*导航栏*/
            
            .header {
                width: 100vw;
                max-width: 950px;
                height: 32px;
                padding: 4px;
                margin: 0 auto;
                background-color: #535353;
                box-sizing: border-box;
            }
            
            .navy {
                font-family: Arial, 'Microsoft YaHei', 'Microsoft JhengHei', sans-serif;
                font-weight: bold;
                color: #fff;
                font-size: 14px;
            }
            
            .navy a {
                color: inherit;
                margin: auto;
                padding: 0px;
            }
            /*主体内容*/
            
            .content {
                width: 100vw;
                max-width: 950px;
                padding: 0;
                margin: 0 auto;
                background-color: #c6c6c6;
                height: auto;
            }
            
            .content-inner {
                width: 100vw;
                max-width: 650px;
                margin: 0 auto;
                padding-top: 15px;
                color: black;
                background-color: #c6c6c6;
                text-align: center;
            }
            
            .page {
                background-color: #efefef;
            }
            
            .pagecontent {
                margin: 0;
                padding: 0;
                border: none;
            }
            /*页面头部*/
            
            .pagehead {
                padding: 15px 0 10px 0;
                font-weight: bold;
                font-size: 32px;
                font-family: Courier, Verdana, 'Microsoft YaHei', 'Microsoft JhengHei', sans-serif, monospace;
            }
            /*页面身体*/
            
            .pagebody {
                border-spacing: 0;
                font-family: Courier, Verdana, 'Microsoft YaHei', 'Microsoft JhengHei', monospace;
            }
            
            .pagebody img {
                width: 100vw;
                max-width: 100%;
            }
            
            .pagebody span img,
            .pagebody div img {
                width: auto;
                margin: 0;
            }
            
            .pagebody div {
                vertical-align: middle;
                padding: 15px 20px 0 20px;
            }
            /*页面脚部*/
            
            .pagefoot {
                padding: 20px 20px 10px 20px;
                text-align: left;
                font-size: 24px;
                font-family: Arial, Verdana, 'Microsoft YaHei', 'Microsoft JhengHei', monospace;
            }
            
            .pagefoot span {
                font-size: 25px;
                font-family: Verdana, Arial, Helvetica, sans-serif;
            }
            
            #newerpage {
                padding: 10px;
            }
            /*脚部表格*/
            
            .pagefooter {
                padding-top: 20px;
            }
            
            .game-nav {
                margin: 0;
                padding: 0;
            }
            
            ul li {
                list-style: none;
                padding: 0;
                margin: 0;
                text-align: center;
                display: inline;
                font-size: 15px;
                font-weight: bold;
                font-family: Verdana, Arial, 'Microsoft YaHei', 'Microsoft JhengHei';
            }
